<!-- --- FOOTER CODE --- -->

<div id="footer">
   <div id="footer-text">Copyright <i class="fa-regular fa-copyright"></i> WellWheel. All rights reserved.</div>
   <div id="footer-icon">Follow us on 
      <i class="fa-brands fa-twitter" style="cursor: pointer;"></i> 
      <i class="fa-brands fa-linkedin" style="cursor: pointer;"></i>
      <i class="fa-brands fa-square-instagram" style="cursor: pointer;"></i>
      <i class="fa-brands fa-slack" style="cursor: pointer"></i>
      <i class="fa-brands fa-discord" style="cursor: pointer;"></i>
      <i class="fa-brands fa-square-whatsapp" style="cursor: pointer;"></i>
   </div>
</div>   

</body>
</html>