<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/x-icon" href="WellWheelLogo.png" />
		<title>WellWheel-DRIVER</title>
		<!-- --- EXTERNAL CSS --- -->
		<link rel="stylesheet" href="style.css" />
		<!-- --- FONT AWESOME, the Internet's icon library and toolkit --- -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		/>
	</head>
	<body>
