<!-- --- ABOUT US PAGE --- -->

<!-- HEADER SECTION -->
<%- include('header') -%>

<!-- NAVBAR SECTION -->
<%- include('navbar')-%>

<div class="about">
	<div>
		<h1 class="title_main">ABOUT US</h1>
		<br />

		<p
			style="
				text-align: start;
				font-size: large;
				font-weight: bold;
				color: #2f2e41cf;
			"
		>
			WellWheel is a pioneering platform dedicated to making emergency
			healthcare more accessible and efficient. Born from a vision to connect
			people with life-saving medical services at the click of a button,
			WellWheel empowers users to swiftly book ambulances and access timely
			assistance during critical moments.
			<br />
			<br />
			Together, let’s build a future where everyone can receive the help they
			need-precisely when they need it most.
		</p>
	</div>
	<div class="ambulance">
		<img src="aboutUs.jpg" width="450" />
	</div>
</div>

<div class="about_main">
	<div class="about_line">
		<h2>
			<b>"Your guide to life-saving care within reach - anytime, anywhere."</b>
		</h2>
		<h4><i>&#40; ALL OVER THE COUNTRY &#41;</i></h4>
	</div>
	<div class="about_photo">
		<img src="india.jpg" width="400px" />
	</div>
</div>

<h1 class="title_main" style="margin-top: 90px">Our Pillars of Integrity</h1>

<div class="gallery">
	<div class="gallery-card">
		<div>
			<h2>TRUST</h2>
			<p>
				We believe in being dependable and transparent. Every step we take is to
				build trust, ensuring that users can count on us during times of need,
				knowing that help is just a tap away.
			</p>
		</div>
	</div>

	<div class="gallery-card">
		<div class="desc">
			<h2>COMPASSION</h2>
			<p>
				We are committed to placing people at the heart of everything we do. Our
				services are designed to offer empathy, understanding, and unwavering
				support, especially in critical moments.
			</p>
		</div>
	</div>

	<div class="gallery-card">
		<div class="desc">
			<h2>INNOVATION</h2>
			<p>
				We strive to leverage the latest technologies to deliver the best
				possible experience. By embracing innovation, we continually enhance our
				platform to serve communities better.
			</p>
		</div>
	</div>
</div>

<!-- CONTACT US SECTION -->
<%- include('contact') -%> 

<!-- FOOTER SECTION -->
<%- include('footer') -%>
