<!-- --- BOOK NOW PAGE --- -->

<!-- HEADER SECTION -->
<%- include('header') -%>

<!-- NAVBAR SECTION -->
<%- include('navbar') -%>

<div id="booking-box">
	<div class="booking-heading">
		<span>Swift, Reliable Ambulance Service</span>
	</div>
	<div class="booking-heading"><span>at Your Fingertips!</span></div>

	<div class="booking-desc">
		One click, and WellWheel brings an ambulance right to you.
	</div>

	<div id="contact">
		<form action="/book" method="post">
			<input name="phone" placeholder="MOBILE NUMBER" required /><br />
			<input name="Name" placeholder="FULL NAME" type="text" required /><br />
			<input name="mail" placeholder="EMAIL ID" required />
			<br />
			<button type="submit">SUBMIT</button>
		</form>
	</div>
</div>

<!-- CONTACT US SECTION -->
<%- include('contact') -%>

<!-- FOOTER SECTION -->
<%- include('footer') -%>
