<!-- --- CONTACT US PAGE --- -->

<!-- HEADER SECTION -->
<%-include('header')-%>

<!-- NAVBAR SECTION -->
<%- include('navbar') -%>

<div style="margin-top: 50px;"></div>

<!-- CONTACT US SECTION -->
<%- include('contact') -%> 

<!-- FOOTER SECTION -->
<%- include('footer') -%>