<!-- --- FEATURES PAGE --- -->

<!-- HEADER SECTION -->
<%- include('header') -%>

<!-- NAVBAR SECTION -->
<%- include('navbar') -%>

<div>
	<div class="heading" style="margin-top: 3%">
		<span> Smart Interface Features </span> for Quick Assistance
	</div>
	<div id="feature">
		<div class="feature-item">
			<div class="feature-img"><img src="feature1.jpg" /></div>
			<div class="feature-content" style="text-align: center">
				Request ambulance with a single click
			</div>
		</div>
		<div class="feature-item">
			<div class="feature-img"><img src="feature2.webp" /></div>
			<div class="feature-content" style="text-align: center">
				Real-time tracking of ambulance location
			</div>
		</div>
		<div class="feature-item">
			<div class="feature-img"><img src="feature3.jpg" /></div>
			<div class="feature-content" style="text-align: center">
				View the status of your ambulance request
			</div>
		</div>
	</div>
</div>

<!-- CONTACT US SECTION -->
<%- include('contact') -%>

<!-- FOOTER SECTION -->
<%- include('footer') -%>
