<!-- --- HOME PAGE --- -->

<!-- HEADER -->
<%- include('header') -%>

<!-- NAVBAR -->
<%- include('navbar') -%>

<!-- BANNER BOX -->

<div id="banner-box">
	<div class="banner" id="b1"><img src="banner1.jpg" /></div>
	<div class="banner" id="b2"><img src="banner2.jpeg" /></div>
	<div class="banner" id="b3"><img src="banner3.jpg" /></div>
</div>

<!-- ABOUT US SECTION -->

<div id="AboutBox">
	<div class="heading">
		<span> WellWheel: </span> Your Emergency, Our Priority!
	</div>
	<div id="aboutContent">
		WellWheel is a web based application designed to streamline access to
		emergency medical services. It enables users to quickly request an ambulance
		with a simple click and provides real-time tracking of ambulance location
		and estimated time of arrival (ETA). WellWheel offers reliable and fast
		first-response assistance to ensure immediate medical care in urgent
		situations.
	</div>
</div>

<!-- WHY CHOOSE US? SECTION -->

<div id="why">
	<div class="heading">Why Choose Us?</div>
	<div id="whyContent">
		At WellWheels, patient care and convenience go hand-in-hand. Our integrated
		ambulance transport services were created to assist in saving human lives by
		providing an ultimate network of equipped Ambulances. By simple
		location-based mapping, we built a 24/7 emergency and technology platform
		that connects the customers and the ambulance drivers directly with each
		other.
	</div>
	<div id="whyFeature">
		<div style="display: flex; width: 25%">
			<div><img src="policy1.svg" /></div>
			<div style="margin-top: 15%; margin-left: 5%">Patient First Policy</div>
		</div>
		<div style="display: flex; width: 25%">
			<div><img src="policy2.svg" /></div>
			<div style="margin-top: 13%; margin-left: 5%">Emergency Assistance</div>
		</div>
		<div style="display: flex; width: 25%">
			<div><img src="policy3.svg" /></div>
			<div style="margin-top: 13%; margin-left: 5%">24/7 Support</div>
		</div>
	</div>
</div>

<!-- SERVICE SECTION -->

<div id="service">
	<div class="heading">
		Top Ambulance Providers <span> With Excellent Facilities! </span>
	</div>
	<p
		style="
			font-size: x-large;
			text-align: center;
			color: #1a1a1a8e;
			font-weight: bold;
		"
	>
		At WellWheel, we offer a comprehensive solution for all your healthcare
		needs, providing reliable and timely services at the touch of a button.
	</p>
	<div class="service-card">
		<div
			style="
				margin-top: 5%;
				font-size: larger;
				font-weight: 100px;
				margin-right: 5%;
			"
		>
			With our technology driven ambulance tracking system, we provide real-time
			updates and seamless communication to optimize emergency response. This
			advanced coordination between hospitals, ambulance drivers, and patients
			helps to minimize response times and enhance patient care. Our highly
			trained paramedics and EMTs are equipped to deliver essential medical
			support on site, including administering medications, performing critical
			procedures like intubation and defibrillation, and stabilizing patients
			for safe transport to the hospital.
		</div>
		<div style="width: 550px; margin-top: 2%">
			<img
				src="service1.jpg"
				width="450px"
				height="300px"
				style="border-radius: 20px"
			/>
		</div>
	</div>
	<div class="service-card">
		<div style="width: 550px; margin-top: 2%">
			<img
				src="service2.png"
				width="450px"
				height="300px"
				style="border-radius: 20px"
			/>
		</div>
		<div
			style="
				margin-top: 7%;
				font-size: larger;
				font-weight: 100px;
				margin-left: 5%;
				text-align: end;
			"
		>
			Ambulance tracking services leverage real time tracking and advanced
			communication technology to significantly reduce ambulance arrival times,
			an essential factor in life saving emergency situations. This system also
			alleviates pressure on hospitals and ambulance providers by automating
			crucial tasks, such as assigning the nearest available ambulance to
			incoming requests, ensuring a rapid and efficient response to critical
			medical needs and enhancing overall patient outcomes.
		</div>
	</div>
</div>

<!-- FEATURES SECTION -->

<div>
	<div class="heading">
		<span> Smart Interface Features </span> for Quick Assistance
	</div>
	<div id="feature">
		<div class="feature-item">
			<div class="feature-img"><img src="feature1.jpg" /></div>
			<div class="feature-content" style="text-align: center">
				Request ambulance with a single click
			</div>
		</div>
		<div class="feature-item">
			<div class="feature-img"><img src="feature2.webp" /></div>
			<div class="feature-content" style="text-align: center">
				Real-time tracking of ambulance location
			</div>
		</div>
		<div class="feature-item">
			<div class="feature-img"><img src="feature3.jpg" /></div>
			<div class="feature-content" style="text-align: center">
				View the status of your ambulance request
			</div>
		</div>
	</div>
</div>

<!-- TESTIMONIALS SECTION -->

<div id="testimonial">
	<div id="testimonial-container">
		<div class="testimonial-box">
			<div id="testimonial-img"></div>
		</div>
		<div class="testimonial-box">
			<div
				style="
					font-size: xx-large;
					font-weight: bolder;
					color: white;
					text-align: center;
					margin-top: 10%;
				"
			>
				HAPPY CUSTOMERS!
			</div>
			<div id="review">
				<div class="review" id="review1">
					WellWheel is a game-changer in emergency response! Knowing I can
					access an ambulance in seconds and track it in real-time brings so
					much peace of mind during stressful moments.
				</div>
				<div class="review" id="review2">
					WellWheel has made ambulance access stress-free and dependable. It’s
					reassuring to have such a responsive, tech-enabled solution at hand.
				</div>
				<div class="review" id="review3">
					I never imagined requesting an ambulance could be this easy. With
					WellWheel, help is just a click away, and seeing the ETA makes it feel
					reliable and safe!
				</div>
			</div>
			<div
				style="
					display: flex;
					flex-direction: row;
					width: 50%;
					margin-left: 20%;
					justify-content: center;
					margin-top: 10%;
				"
			>
				<div class="line" onclick="changeReview('review1')" id="line1"></div>
				<div class="line" onclick="changeReview('review2')" id="line2"></div>
				<div class="line" onclick="changeReview('review3')" id="line3"></div>
			</div>
		</div>
	</div>
</div>

<!-- CONTACT US SECTION -->
<%- include('contact') -%>

<!-- --- JS CODE --- -->
<script>
	// SLIDER FOR BANNER BOX
	var currentSlide = 1;
	var totalSlides = 3;

	function showSlide(slideNumber) {
		var slides = document.getElementsByClassName("banner");
		var i;

		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}

		slides[slideNumber - 1].style.display = "block";
	}

	function previousSlide() {
		if (currentSlide === 1) {
			currentSlide = totalSlides;
		} else {
			currentSlide--;
		}

		showSlide(currentSlide);
	}

	function nextSlide() {
		if (currentSlide === totalSlides) {
			currentSlide = 1;
		} else {
			currentSlide++;
		}
		showSlide(currentSlide);
	}

	function startSlider() {
		setInterval(function () {
			nextSlide();
		}, 3000);
	}

	// SHOWING THE FIRST SLIDE INITIALLY
	showSlide(currentSlide);

	// STARTING THE AUTOMATIC SLIDER
	startSlider();

	function changeReview(reviewElement) {
		if (reviewElement == "review1") {
			document.getElementById("review1").style.display = "block";
			document.getElementById("line1").style.border = "solid white 2px";
			document.getElementById("review2").style.display = "none";
			document.getElementById("line2").style.border = "solid darkgray 2px";
			document.getElementById("review3").style.display = "none";
			document.getElementById("line3").style.border = "solid darkgray 2px";
		} else if (reviewElement == "review2") {
			document.getElementById("review1").style.display = "none";
			document.getElementById("line1").style.border = "solid darkgray 2px";
			document.getElementById("review2").style.display = "block";
			document.getElementById("line2").style.border = "solid white 2px";
			document.getElementById("review3").style.display = "none";
			document.getElementById("line3").style.border = "solid darkgray 2px";
		} else {
			document.getElementById("review1").style.display = "none";
			document.getElementById("line1").style.border = "solid darkgray 2px";
			document.getElementById("review2").style.display = "none";
			document.getElementById("line2").style.border = "solid darkgray 2px";
			document.getElementById("review3").style.display = "block";
			document.getElementById("line3").style.border = "solid white 2px";
		}
	}
</script>

<!-- --- FOOTER SECTION --- -->
<%- include('footer') -%>