<!-- --- SERVICES PAGE --- -->

<!-- --- HEADER SECTION --- -->
<%- include('header') -%>

<!-- --- NAVBAR --- -->
<%- include('navbar') -%>

<!-- --- SERVICE SECTION --- -->
<div class="service">
	<div>
		<h1 class="title_main">OUR SERVICES</h1>
		<p
			style="
				font-size: 20px;
				font-weight: bold;
				color: #1a1a1a95;
				text-align: center;
			"
		>
			At WellWheel, we offer a range of services designed to provide fast,
			reliable, and accessible emergency medical assistance.
		</p>
		<ul>
			<li>
				Quick Ambulance Access
				<br />
				Request an ambulance with a single click, ensuring rapid assistance in
				emergencies.
			</li>
			<li>
				Real-Time Tracking
				<br />
				Track your ambulance’s location and receive live ETA updates, providing
				peace of mind and accurate arrival information.
			</li>
			<li>
				User-Friendly Interface
				<br />
				Our platform is designed for simplicity and ease, allowing users of all
				ages to access help effortlessly.
			</li>
			<li>
				Emergency Support Coordination
				<br />
				We connect you to the nearest, most reliable ambulance services,
				ensuring timely medical response.
			</li>
			<li>
				24/7 Availability
				<br />
				Emergencies can happen anytime, so our services are accessible around
				the clock, every day of the week.
			</li>
			<li>
				Personalized Assistance
				<br />
				Our team is here to support you, addressing any concerns and helping you
				feel reassured throughout the process.
			</li>
		</ul>
	</div>

	<div class="service">
		<img src="service.jpg" width="450" height="350" />
	</div>
</div>

<h2 style="text-align: center; margin: 5%; color: #496eae">
	With WellWheel, reliable emergency support is always within reach, providing
	you peace of mind when it matters most!
</h2>

<!-- CONTACT US SECTION -->
<%- include('contact') -%>

<!-- FOOTER SECTION -->
<%- include('footer') -%>
